body{
    height: 100vh;  
    width: 100%;  
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .formulario{
    display: flex; 
    justify-content: center;
    align-items: center;   
    width: 600px;   
    height: 90vh;
    border-radius:10px; 
    background-image: linear-gradient(#ba55d3,darkblue);
    }
    
    #input-jogador-2, #input-jogador-1{
    height: 30px;   
    width: 190px; 
    margin: 10px;
    border-radius: 10px;
    margin-top: 40px;
    }
    
    #logo{
     height: 100px;
     border-radius:360px;    
    }
    #versus{
    height: 40px;
    margin-top:80px; 
    }

    .img-logo{
     display: flex;
     align-items: center;
     justify-content: center;
    }

    #button-ok{
     height: 30px; 
     width: 200px;
     border-radius: 5px; 
     background-color: aquamarine;
     font-weight: bold;
    }
    
    .button-teste, h1{
    display: flex;
    justify-content: center;   
    margin-top:40px; 
    }
    
    .container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    height: 500px;
    width: 600px;
    }
    
    #jogador-1{
    background-color: blue;
    width: 200px;
    height: 200px;  
    margin: 40px;  
    }
    
    #jogador-2{
    background-color:yellow;
    width: 200px;
    height: 200px;
    margin: 40px;    
    }
    
    .index-resultado{
    display: flex; 
    }

    #tabela-jogador-1, #tabela-jogador-2, th, td{
    border: 1px solid black; 
    text-align: center;   
    }